<div class="index-container text-center">
  <div>
    <img src="/images/beer.png" alt="beeeeeer">
  </div>
   <br>
  <a href="/beers" class="btn btn-primary">Beer</a> <br><br>
  <a href="/random-beer" class="btn btn-primary">Check random beer</a>
</div>
